* {
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
}



.container {
    background-color: black;
}

.section1 {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('img/EarthTest.jpg') fixed;
    height: 750px;
    padding-top: 30px;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.navLogo img {
    width: 100px;
}

.hamburger {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: none;
    margin-top: 2.5rem;
}
.hamburger:focus {
    outline: none;
}

.navTitle {
    display: flex;
    gap: 30px;
    color: white;
    margin-left: -15rem;
    margin-top: 2.5rem;
}
a { 
    color: inherit; 
} 


.underline {
    display: inline-block;
    position: relative;
    transition: all 0.5s ease;
    font-weight: bolder;
}
.underline:hover {
    cursor: pointer;
}
.underline::after {
    content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #C7A987;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    margin-bottom: -5px;
}
.navSearch {
    display: flex;
    align-items: center;
    gap: 30px;
    color: white;
    margin-top: 2.5rem;
}
.navSearch h4 {
    transition: all 0.5s ease;
    font-weight: lighter;
    border: 2px solid #C7A987;
}
.navSearch h4:hover {
    color: #C7A987;
    cursor: pointer;
}
.navSearch .fas {
    font-size: 1.5rem;
    color: #C7A987;
    cursor: pointer;
}
.navSearch h4 {
    border-radius: 10px;
    padding: 5px;
}

.exploreTitle {
    color: white;
    text-align: center;
    margin-top: 8rem;
}
.exploreTitle h1 {
    font-size: 3rem;
    font-weight: lighter;
    font-family: 'Maven Pro', sans-serif;

}
.exploreTitle h2 {
    margin-top: 2.5rem;
    font-size: 2rem;
    display:inline-block;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid #C7A987;
    transition: all 0.5s ease;
}
.exploreTitle h2:hover {
    cursor: pointer;
    background-color: #C7A987;
}


/* Section1Half */
.section1Half {
    padding-top: 5rem;
    padding-bottom: 2rem;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('img/spaceship.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 550px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
    border: 2px solid #C7A987;
}
.galaxyTitle {
    color: white;
    width: 650px;
    font-size: 1.2rem;
    
}
.galaxyTitle h4 {
    margin-top: 2rem;
    border: 2px solid #C7A987;
    display: inline-block;
    padding: 7px;
    border-radius: 5px;
    font-size: 1.4rem;
    transition: all 0.5s ease;
}
.galaxyTitle h4:hover {
    background-color: #C7A987;
    cursor: pointer;
}

.galaxyImg img {
    width: 500px;
}


/* Section 2 */

.section2 {
    padding-top: 4rem;
}

.marsTitle {
    color: white;
    text-align: center;
}
.marsTitle h1 {
    font-weight: bolder;
    font-size: 4rem;
}
.marsTitle h3 {
    font-weight: lighter;
    font-size: 2rem;
    color: #C7A987;
}

.marsImage img {
    width: 500px;
    margin-top: 2rem;
    z-index: 3;
}
.marsDecr {
    color: white;
    width: 700px;
    font-size: 1.5rem;
}
.marsDecr h3 {
    font-weight: bold;
}
.marsDecr h5 {
    margin-top: 50px;
    font-weight: lighter;
    font-size: 1rem;
    text-decoration: underline;
    text-decoration-color: #C7A987;
    text-underline-offset: 5px;
}
.marsDecr h4 {
    margin-top: 20px;
    display: inline-block;
    padding: 7px;
    border: 2px solid #C7A987;
    border-radius: 5px;
    font-size: 1.5rem;
    transition: all 0.5s ease;
}
.marsDecr h4:hover {
    cursor: pointer;
    background-color: #C7A987;
}
.marsDecr #marginLow {
    margin-bottom: 2rem;
}
.planetFlex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.choosePlanet {
    border: 2px solid #C7A987;
    color: white;
    padding: 10px;
    font-size: 1rem;
    background-color: transparent;
    margin-bottom: 30px;
    transition: all 0.5s ease;
    border-radius: 5px;
}
.choosePlanet:hover {
    color: #C7A987;
    cursor: pointer;
}


/* Section 3 */

.section3 {
    padding-top: 6rem;
    padding-bottom: 5rem;
}

.rocketsTitle {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: underline;
    text-decoration-color: #C7A987;
    text-decoration-thickness: 3px;
    text-underline-offset: 8px;
}

.rockets {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    padding-bottom: 30px;
}
.rockets img {
    width: 550px;

}
.rocketDescr {
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
}
.rocketDescr h2 {
    display: inline-block;
    border-radius: 5px;
    padding: 10px;
    border: none;
    transition: all 0.5s ease;
    border: 2px solid #C7A987;
    font-size: 1rem;
}
.rocketDescr h2:hover {
    background-color: #C7A987;
    cursor: pointer;
}

/* Section 4 */

.section4 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 7rem;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/Earth.jpg');
}

.earthTitle {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.earthTitle h1 {
    font-size: 3rem;
    width: 500px;
}
.earthTitle h3 {
    display: inline-block;
    border-radius: 5px;
    padding: 5px;
    border: none;
    transition: all 0.5s ease;
    font-size: 2rem;
    text-align: center;
    width: 200px;
}
.earthTitle h3:hover {
    cursor: pointer;
}
.earthImg img {
    width: 350px;
}
.iconFlex {
    display: flex;
    align-items: center;
    gap: -1rem;
    border: 2px solid #C7A987;
    width: 250px;
    border-radius: 5px;
    transition: all 0.5s ease;
}
.iconFlex:hover {
    background-color: #C7A987;
    cursor: pointer;
}
.iconFlex .fas {
    font-size: 1.8rem;
    margin-left: -1rem;
}
.colorChange {
    color: #C7A987;
}

/* Section 5 */

.section5 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5rem;
    padding-bottom: 5rem;
}

.phoneDescr {
    display: flex;
    flex-direction: column;
    color: white;
    width: 600px;
    gap: 50px;
}
.phoneDescr h2 {
    font-size: 2.5rem;
}
.phoneDescr hr {
    background-color: #C7A987;
    height: 1.5px;
    border: none;
    width: 100px;
}
.phoneDescr h4 {
    font-size: 1.5rem;
    display: inline-block;
    border-radius: 5px;
    padding: 5px;
    border: none;
    transition: all 0.5s ease;
    text-align: center;
    border: 2px solid #C7A987;
    width: 200px;
}
.phoneDescr h4:hover {
    background-color: #C7A987;
    cursor: pointer;
}
.phoneImg img {
    width: 250px;
}


/* Section 6 */

.section6 {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 3rem;
    background-color: rgb(15, 15, 15);    
}
.bottomLogo img {
    width: 100px;
}

.listSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: auto;
}
.listSection h2 {
    text-decoration: underline;
    text-decoration-color: #C7A987;
    text-underline-offset: 4px;
}
.listSection h4 {
    transition: all 0.5s ease;
}
.listSection h4:hover {
    cursor: pointer;
    color: #C7A987;
}


/* Flights Page */

.flightsTitle {
    text-align: center;
    padding-top: 7rem;
    font-size: 1.8rem;
    color: white;
}
.inputSearch {
    text-align: center;
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.inputSearch #planetSearch {
    padding: 10px;
    color: white;
    font-size: 2rem;
    width: 20%;
    background-color: transparent;
    border: 2px solid #C7A987;
    border-radius: 10px;
}
.inputSearch #planetSearch:hover {
    cursor: pointer;
}
option {
    background-color: #C7A987;
    color: white;
    border: none;
}

/* Flights1 */

.flights1 {
    background-color: black;
    height: 600px;
    padding-top: 8rem;
}
.flights1Title {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    margin: 3rem;
}
.flights1Title h2 {
    font-size: 2.5rem;
}
.flights1Title img {
    width: 600px;
}
.hr {
    border-left: 2px solid #C7A987;
    height: 400px;
}
.textFlex {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.textFlex h3 {
    border: 2px solid #C7A987;

}
.textFlex h4 {
    font-weight: lighter;
    font-style: italic;
    font-size: 1.5rem;
}
.textFlex h5 {
    font-weight: lighter;
    font-size: 1.2rem;
    color: #C7A987;
}
#paragraphColor {
    color: #C7A987;
}

/* Astronaut Page */
.astronaut {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/orbitirAstro3.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
    padding-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
}
.textImgFlex {
    width: 600px;
}
.textImgFlex h2{
    color: white;
    font-size: 2.5rem;
}
.textImgFlex h4 {
    color: white;
    border: 2px solid #C7A987;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    transition:  all 0.5s ease;
    font-size: 1.5rem;
    margin-top: 2rem;
}
.textImgFlex h4:hover {
    background-color: #C7A987;
    cursor: pointer;
}
.requirements {
    border: 2px solid #C7A987;
    padding: 10px;
}
.requirements h3 {
    color: white;
    font-size: 2rem;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: #C7A987;
    text-decoration-thickness: 2px;
}
.requirements h5 {
    margin-top: 2rem;
    color: white;
    font-size: 1rem;
}

.textImgFlex hr {
    background-color: #C7A987;
    height: 2px;
    border: none;
    width: 100px;
    margin-top: 1rem;
}

/* Video Section */

.vidSection {
    position: relative;
}

.videoTest {
    margin: 30px;
}

#background-video {
    object-fit: cover;
    width: 100%;
    height: 800px;
    filter: brightness(70%);
    border: 1px solid #C7A987;
    position: relative;
    z-index: 0;
  }

  .textOverlay h2{
    position: absolute;
    top:40%;
    left:25%;
    z-index:1;
    font-size: 3rem;
    color: white;
  }
  .textOverlay h3 {
    position: absolute;
    border: 2px solid #C7A987;
    display: inline-block;
    top:60%;
    left:48%;
    z-index:1;
    color: white;
    font-size: 2rem;
    padding: 7px;
    transition: all 0.5s ease;
  }
  .textOverlay h3:hover {
      background-color: #C7A987;
      cursor: pointer;
  }

@media (min-width: 1600px) {
    .section1 {
        height: 1000px;
    }
    .navTitle {
        font-size: 1.3rem;
    }
    .navSearch {
        font-size: 1.3rem;
    }
    .exploreTitle h1{
        font-size: 4rem;
    }
    .exploreTitle h2 {
        font-size: 2.5rem;
    }
    .textFlex {
        width: 500px;
    }
    .requirements h5 {
        font-size: 1.5rem;
        width: 600px;
    }
    .textImgFlex hr {
        margin-top: 3rem;
    }
}

@media (max-width: 1200px) {
    .marsDecr {
        width: 500px;
    }
    .rockets img {
        width: 400px;
    }
    .galaxyImg img {
        width: 300px;
    }
    .navTitle {
        margin-left: 1rem;
    }
    .flights1Title {
        flex-direction: column;
    }
    .flights1 {
        height: 900px;
    }
    .hr {
        display: none;
    }
    .astronaut {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 1000px) {
    .planetFlex {
        flex-direction: column;
    }
    .marsDecr {
        padding-top: 4rem;
        width: auto;
        margin: 5rem;
    }
    .galaxyTitle {
        font-size: 1rem;
        width: 400px;
    }
    .earthTitle h1 {
        font-size: 2rem;
    }
    .iconFlex {
        width: 230px;
    }
    .iconFlex h3 {
        font-size: 1.5rem;
    }
    .iconFlex .fas {
        font-size: 1.5rem;
    }
    .earthImg img {
        width: 200px;
    }
}

@media (max-width: 900px) {
    .rockets img {
        width: 300px;
    }
    .phoneImg img {
        width: 200px;
    }
    .phoneDescr h2 {
        font-size: 1.5rem;
        width: 250px;
    }
    .section5 {
        margin-left: 5rem;
        gap: 5rem;
    }
    .rocketsTitle {
        font-size: 1rem;
    }
    .textFlex h2 {
        font-size: 2rem;
    }
}

@media (max-width: 800px) {
    .section4 {
        flex-direction: column;
    }
    .earthImg img {
        display: none;
    }
    .section1Half {
        flex-direction: column;
    }
    .navTitle {
        display: none;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .hamburger {
        display: block;
    }
    .navSearch {
        display: none;
    }
    .navTitle.show {
        display: flex;
    }
    #background-video {
        display: none;
    }
    .textOverlay {
        display: none;
    }
}

@media (max-width: 700px) {
    .section5 {
        flex-direction: column;
        align-items: center;
    }
    .phoneDescr h2 {
        width: auto;
    }
    .bottomLogo img {
        display: none;
    }
    .rockets {
        flex-direction: column;
        gap: 5rem;
        align-items: center;
    }
    .rocketDescr #removeBtn {
        display: none;
    }
    .planetFlex{
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 550px) {
    .marsImage img {
        width: 300px;
    }
    .earthTitle h1 {
        font-size: 1.5rem;
        width: 300px;
    }
    .galaxyTitle {
        font-size: .7rem;
        width: auto;
        margin: 2rem;
    }
    .galaxyImg img {
        width: 250px;
    }
    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .phoneDescr h2 {
        width: 300px;
    }
    .phoneDescr {
        align-items: center;
    }
    .section5 {
        margin-right: 5rem;
    }
    .section1 {
        background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('img/EarthTest.jpg');
    }
    .flights1Title img {
        width: 400px;
    }
    .textImgFlex {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
    .textImgFlex h2 {
        font-size: 1.5rem;
        width: 300px;
    }
    .textImgFlex h4 {
        font-size: 1rem;
    }
    .requirements {
        width: 300px;
    }
    .astronaut {
        padding-bottom: 8rem;
    }
    .marsDecr h4 {
        font-size: 1rem;
        margin-bottom: 2rem;
    }
}

@media (max-width: 420px) {
    .listSection h2{
        font-size: 1.2rem;
    }
    .listSection h4 {
        font-size: .8rem;
    }
    .section6 {
    }
    .rocketsTitle h1 {
        font-size: 1.5rem;
    }
    .flights1Title img {
        width: 300px;
    }
    .marsDecr h3 {

    }
}

